@import '../../../letstoast.scss';

.reset-password-title {
  color: $default-text-color;
  text-shadow: 1px 1px $default-shadow-color;
  margin-bottom: 40px;

  @include for-size(phone-only) {
    font-size: 48px;
  }

  @include for-size(tablet-portrait-up) {
    font-size: 54px;
  }

  @include for-size(tablet-landscape-up) {
    font-size: 60px;
  }

  @include for-size(desktop-up) {
    font-size: 66px;
  }

  @include for-size(big-desktop-up) {
    font-size: 72px;
  }
}

.reset-password-label {
  color: $default-text-color;
  text-shadow: 1px 1px $default-shadow-color;

  @include for-size(phone-only) {
    font-size: 16px;
  }

  @include for-size(tablet-portrait-up) {
    font-size: 18px;
  }

  @include for-size(tablet-landscape-up) {
    font-size: 20px;
  }

  @include for-size(desktop-up) {
    font-size: 22px;
  }

  @include for-size(big-desktop-up) {
    font-size: 24px;
  }
}

.reset-password-link {
  color: $default-link-color;
  text-shadow: 1px 1px $default-shadow-color;
  font-family: 'Merienda', cursive;

  @include for-size(phone-only) {
    font-size: 16px;
  }

  @include for-size(tablet-portrait-up) {
    font-size: 18px;
  }

  @include for-size(tablet-landscape-up) {
    font-size: 20px;
  }

  @include for-size(desktop-up) {
    font-size: 22px;
  }

  @include for-size(big-desktop-up) {
    font-size: 24px;
  }
}

.reset-password-link:hover {
  color: $default-link-hover-color;
}

.reset-password-button {
  margin: 20px 0 20px 0;

  @include for-size(phone-only) {
    font-size: 16px;
  }

  @include for-size(tablet-portrait-up) {
    font-size: 18px;
  }

  @include for-size(tablet-landscape-up) {
    font-size: 20px;
  }

  @include for-size(desktop-up) {
    font-size: 22px;
  }

  @include for-size(big-desktop-up) {
    font-size: 24px;
  }
}

.reset-password-component {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}