@import '../../../letstoast.scss';

.reset-password-update-title {
  color: $default-text-color;
  text-shadow: 1px 1px $default-shadow-color;
  margin-bottom: 40px;

  @include for-size(phone-only) {
    font-size: 48px;
  }

  @include for-size(tablet-portrait-up) {
    font-size: 60px;
  }

  @include for-size(tablet-landscape-up) {
    font-size: 72px;
  }

  @include for-size(desktop-up) {
    font-size: 84px;
  }

  @include for-size(big-desktop-up) {
    font-size: 96px;
  }
}

.reset-password-update-label {
  color: $default-text-color;
  text-shadow: 1px 1px $default-shadow-color;

  @include for-size(phone-only) {
    font-size: 16px;
  }

  @include for-size(tablet-portrait-up) {
    font-size: 20px;
  }

  @include for-size(tablet-landscape-up) {
    font-size: 24px;
  }

  @include for-size(desktop-up) {
    font-size: 28px;
  }

  @include for-size(big-desktop-up) {
    font-size: 32px;
  }
}

.reset-password-update-link-div {
  margin-top: 40px;
}

.reset-password-update-link {
  text-shadow: 1px 1px $default-shadow-color;
  color: $default-link-color;

  @include for-size(phone-only) {
    font-size: 16px;
  }

  @include for-size(tablet-portrait-up) {
    font-size: 20px;
  }

  @include for-size(tablet-landscape-up) {
    font-size: 24px;
  }

  @include for-size(desktop-up) {
    font-size: 28px;
  }

  @include for-size(big-desktop-up) {
    font-size: 32px;
  }
}

.reset-password-update-link:hover {
  color: $default-link-hover-color;
}

.reset-password-update-component {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reset-password-update-button {
  margin: 20px 0 20px 0;

  @include for-size(phone-only) {
    font-size: 16px;
  }

  @include for-size(tablet-portrait-up) {
    font-size: 18px;
  }

  @include for-size(tablet-landscape-up) {
    font-size: 20px;
  }

  @include for-size(desktop-up) {
    font-size: 22px;
  }

  @include for-size(big-desktop-up) {
    font-size: 24px;
  }
}

.reset-password-update-message {
  color: $default-text-color;
  text-shadow: 1px 1px $default-shadow-color;

  @include for-size(phone-only) {
    font-size: 16px;
  }

  @include for-size(tablet-portrait-up) {
    font-size: 18px;
  }

  @include for-size(tablet-landscape-up) {
    font-size: 20px;
  }

  @include for-size(desktop-up) {
    font-size: 22px;
  }

  @include for-size(big-desktop-up) {
    font-size: 24px;
  }
}